{% extends 'base.html.twig' %}

{% block title %}Contact — Giulia, pizzeria napolitaine à Gorges{% endblock %}

{% block body %}
    <h1 style="font-size:32px;margin:20px 0;">Nous contacter</h1>
{% endblock %}
