{% extends 'base.html.twig' %}

{% block title %}Toutes nos pizzas — Giulia, pizzeria napolitaine à Gorges{% endblock %}

{% block body %}
    <h1 style="font-size:34px;margin:20px 0;">Toutes nos pizzas</h1>
{% endblock %}
